# Math 3080 - Group Project 1
You have access to three datasets showing movie ratings. You can find the data here:
* https://github.com/wesm/pydata-book/tree/3rd-edition/datasets/movielens
* Either download the files to load them into your program, or you can load them directly from their websites:
  * Movie Data: https://raw.githubusercontent.com/wesm/pydata-book/3rd-edition/datasets/movielens/movies.dat
  * Ratings Data: https://raw.githubusercontent.com/wesm/pydata-book/3rd-edition/datasets/movielens/ratings.dat
  * User Data: https://raw.githubusercontent.com/wesm/pydata-book/3rd-edition/datasets/movielens/users.dat
  * Documentation for these datasets is in README.md file: https://github.com/wesm/pydata-book/blob/3rd-edition/datasets/movielens/README

This data is provided by Wes McKinney, the author of our *Python for Data Science* textbook. Usage information is included in the README file on the github site.

I recommend looking through McKinney's textbook (Chapter 7 and Chapter 8) to get more information about all of these functions:
* https://wesmckinney.com/book/data-cleaning.html

Your task is to do the following with this data:
1. Load the ratings.dat file
2. Merge information from the movies.dat file to include movie titles and genres
    * Separate the genres using get_dummies function
3. Merge information from the users.dat file to include gender, age, and occupation for the users giving the ratings

Use this data to find:
1. Average rating for each genre
2. Average age for each genre
3. Count of genders for each genre
4. Count of user occupations for each genre

In [62]:
import pandas as pd 

ratings = pd.read_csv("https://raw.githubusercontent.com/wesm/pydata-book/3rd-edition/datasets/movielens/ratings.dat", delimiter="::", names=['UserId', 'MovieId', 'Rating', 'Timestamp'])
ratings

C:\Users\parke\AppData\Local\Temp\ipykernel_8812\1340107500.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  ratings = pd.read_csv("https://raw.githubusercontent.com/wesm/pydata-book/3rd-edition/datasets/movielens/ratings.dat", delimiter="::", names=['UserId', 'MovieId', 'Rating', 'Timestamp'])

         UserId  MovieId  Rating  Timestamp
0             1     1193       5  978300760
1             1      661       3  978302109
2             1      914       3  978301968
3             1     3408       4  978300275
4             1     2355       5  978824291
...         ...      ...     ...        ...
1000204    6040     1091       1  956716541
1000205    6040     1094       5  956704887
1000206    6040      562       5  956704746
1000207    6040     1096       4  956715648
1000208    6040     1097       4  956715569

[1000209 rows x 4 columns]

In [63]:
movies = pd.read_csv("https://raw.githubusercontent.com/wesm/pydata-book/3rd-edition/datasets/movielens/movies.dat", delimiter="::", names=['MovieId', 'Title', 'Genres'])
movies

C:\Users\parke\AppData\Local\Temp\ipykernel_8812\685315176.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  movies = pd.read_csv("https://raw.githubusercontent.com/wesm/pydata-book/3rd-edition/datasets/movielens/movies.dat", delimiter="::", names=['MovieId', 'Title', 'Genres'])

,MovieId,Title,Genres
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

In [64]:
movie_genres = movies['Genres'].str.get_dummies("|")
movie_genres

,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3879,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3880,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3881,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3882,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0

In [65]:
movies = movies.merge(movie_genres, left_index=True, right_index=True, how='outer')
movies

,MovieId,Title,Genres,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),Animation|Children's|Comedy,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Adventure|Children's|Fantasy,0,1,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),Comedy|Romance,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),Comedy|Drama,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II (1995),Comedy,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,3948,Meet the Parents (2000),Comedy,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3879,3949,Requiem for a Dream (2000),Drama,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3880,3950,Tigerland (2000),Drama,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3881,3951,Two Family House (2000),Drama,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3882,3952,"Contender, The (2000)",Drama|Thriller,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [66]:
ratings = pd.merge(ratings, movies, how='outer', left_on='MovieId', right_on='MovieId')

In [67]:
users = pd.read_csv('https://raw.githubusercontent.com/wesm/pydata-book/3rd-edition/datasets/movielens/users.dat', delimiter='::', names=['UserId', 'Gender', 'Age', 'Occupation', 'Zip-Code'])
users

C:\Users\parke\AppData\Local\Temp\ipykernel_8812\2708284763.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  users = pd.read_csv('https://raw.githubusercontent.com/wesm/pydata-book/3rd-edition/datasets/movielens/users.dat', delimiter='::', names=['UserId', 'Gender', 'Age', 'Occupation', 'Zip-Code'])

      UserId Gender  Age  Occupation Zip-Code
0          1      F    1          10    48067
1          2      M   56          16    70072
2          3      M   25          15    55117
3          4      M   45           7    02460
4          5      M   25          20    55455
...      ...    ...  ...         ...      ...
6035    6036      F   25          15    32603
6036    6037      F   45           1    76006
6037    6038      F   56           1    14706
6038    6039      F   45           0    01060
6039    6040      M   25           6    11106

[6040 rows x 5 columns]

In [68]:
ratings = ratings.merge(users, left_on='UserId', right_on='UserId', how='outer')
ratings

,UserId,MovieId,Rating,Timestamp,Title,Genres,Action,Adventure,Animation,Children's,...,Mystery,Romance,Sci-Fi,Thriller,War,Western,Gender,Age,Occupation,Zip-Code
0,1.0,1193,5.0,978300760.0,One Flew Over the Cuckoo's Nest (1975),Drama,0,0,0,0,...,0,0,0,0,0,0,F,1.0,10.0,48067
1,1.0,661,3.0,978302109.0,James and the Giant Peach (1996),Animation|Children's|Musical,0,0,1,1,...,0,0,0,0,0,0,F,1.0,10.0,48067
2,1.0,914,3.0,978301968.0,My Fair Lady (1964),Musical|Romance,0,0,0,0,...,0,1,0,0,0,0,F,1.0,10.0,48067
3,1.0,3408,4.0,978300275.0,Erin Brockovich (2000),Drama,0,0,0,0,...,0,0,0,0,0,0,F,1.0,10.0,48067
4,1.0,2355,5.0,978824291.0,"Bug's Life, A (1998)",Animation|Children's|Comedy,0,0,1,1,...,0,0,0,0,0,0,F,1.0,10.0,48067
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000381,NaN,3650,NaN,NaN,Anguish (Angustia) (1986),Horror,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1000382,NaN,3750,NaN,NaN,Boricua's Bond (2000),Drama,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1000383,NaN,3829,NaN,NaN,Mad About Mambo (2000),Comedy|Romance,0,0,0,0,...,0,1,0,0,0,0,NaN,NaN,NaN,NaN
1000384,NaN,3856,NaN,NaN,Autumn Heart (1999),Drama,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1000385,NaN,3907,NaN,NaN,"Prince of Central Park, The (1999)",Drama,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN

Use this data to find:
1. Average rating for each genre
2. Average age for each genre
3. Count of genders for each genre
4. Count of user occupations for each genre

In [69]:
categories = ['Action', 'Adventure', 'Animation', "Children's", 'Comedy', 'Crime',
       'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical',
       'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

for i in categories:    
    print(f"{i}", ratings[ratings[i] == 1]['Rating'].mean())

Action 3.4911849357368414
Adventure 3.477256948332624
Animation 3.684868223500335
Children's 3.422034743579087
Comedy 3.522098827752538
Crime 3.708678543141273
Documentary 3.933122629582807
Drama 3.766332232342065
Fantasy 3.447370595851354
Film-Noir 4.075187558184108
Horror 3.215013222318226
Musical 3.6655189849035708
Mystery 3.6681019463387923
Romance 3.607464598740535
Sci-Fi 3.466521291339784
Thriller 3.5704660480809784
War 3.893326717935996
Western 3.6377701493980563

In [70]:
categories = ['Action', 'Adventure', 'Animation', "Children's", 'Comedy', 'Crime',
       'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical',
       'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

for i in categories:    
    print(f"{i}", ratings[ratings[i] == 1]['Age'].mean())

Action 29.120023926325562
Adventure 29.238337327271505
Animation 27.140392211211974
Children's 27.51104092206245
Comedy 29.042873969375737
Crime 29.42122930312669
Documentary 30.31833122629583
Drama 30.751049984627493
Fantasy 28.271480124514476
Film-Noir 32.62482887026997
Horror 28.761474615767288
Musical 30.029518695976694
Mystery 31.134700582408282
Romance 30.23285182649485
Sci-Fi 29.442362709321397
Thriller 29.395782370307888
War 31.404264012724912
Western 32.82584731421941

In [71]:
categories = ['Action', 'Adventure', 'Animation', "Children's", 'Comedy', 'Crime',
       'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical',
       'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

for i in categories:    
    print(f"{i}", ratings[ratings[i] == 1].groupby('Gender')['UserId'].count())

Action Gender
F     45650
M    211807
Name: UserId, dtype: int64
Adventure Gender
F     27332
M    106621
Name: UserId, dtype: int64
Animation Gender
F    12221
M    31072
Name: UserId, dtype: int64
Children's Gender
F    21317
M    50869
Name: UserId, dtype: int64
Comedy Gender
F     96271
M    260309
Name: UserId, dtype: int64
Crime Gender
F    16442
M    63099
Name: UserId, dtype: int64
Documentary Gender
F    1940
M    5970
Name: UserId, dtype: int64
Drama Gender
F     98153
M    256376
Name: UserId, dtype: int64
Fantasy Gender
F     8718
M    27583
Name: UserId, dtype: int64
Film-Noir Gender
F     4202
M    14059
Name: UserId, dtype: int64
Horror Gender
F    14635
M    61751
Name: UserId, dtype: int64
Musical Gender
F    13505
M    28028
Name: UserId, dtype: int64
Mystery Gender
F     9976
M    30202
Name: UserId, dtype: int64
Romance Gender
F    50297
M    97226
Name: UserId, dtype: int64
Sci-Fi Gender
F     27400
M    129894
Name: UserId, dtype: int64
Thriller Gender
F     40308
M    149372
Name: UserId, dtype: int64
War Gender
F    14093
M    54434
Name: UserId, dtype: int64
Western Gender
F     3477
M    17206
Name: UserId, dtype: int64

In [74]:
categories = ['Action', 'Adventure', 'Animation', "Children's", 'Comedy', 'Crime',
       'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical',
       'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

for i in categories:  
    for j in range(0,21):  
       print(f"Genre: {i}, Ocupation: {j}",  ratings[(ratings[i] == 1) & (ratings["Occupation"] == j)]["UserId"].count())

Genre: Action, Ocupation: 0 32957
Genre: Action, Ocupation: 1 18673
Genre: Action, Ocupation: 2 11277
Genre: Action, Ocupation: 3 7078
Genre: Action, Ocupation: 4 35152
Genre: Action, Ocupation: 5 6493
Genre: Action, Ocupation: 6 8601
Genre: Action, Ocupation: 7 28863
Genre: Action, Ocupation: 8 868
Genre: Action, Ocupation: 9 2098
Genre: Action, Ocupation: 10 6067
Genre: Action, Ocupation: 11 4793
Genre: Action, Ocupation: 12 17136
Genre: Action, Ocupation: 13 2773
Genre: Action, Ocupation: 14 13559
Genre: Action, Ocupation: 15 6484
Genre: Action, Ocupation: 16 11863
Genre: Action, Ocupation: 17 23324
Genre: Action, Ocupation: 18 3188
Genre: Action, Ocupation: 19 3706
Genre: Action, Ocupation: 20 12504
Genre: Adventure, Ocupation: 0 16919
Genre: Adventure, Ocupation: 1 10215
Genre: Adventure, Ocupation: 2 5986
Genre: Adventure, Ocupation: 3 3700
Genre: Adventure, Ocupation: 4 17910
Genre: Adventure, Ocupation: 5 3228
Genre: Adventure, Ocupation: 6 4446
Genre: Adventure, Ocupation: 7 14138
Genre: Adventure, Ocupation: 8 528
Genre: Adventure, Ocupation: 9 1299
Genre: Adventure, Ocupation: 10 3726
Genre: Adventure, Ocupation: 11 2563
Genre: Adventure, Ocupation: 12 9052
Genre: Adventure, Ocupation: 13 1618
Genre: Adventure, Ocupation: 14 6538
Genre: Adventure, Ocupation: 15 3451
Genre: Adventure, Ocupation: 16 6034
Genre: Adventure, Ocupation: 17 11939
Genre: Adventure, Ocupation: 18 1801
Genre: Adventure, Ocupation: 19 1896
Genre: Adventure, Ocupation: 20 6966
Genre: Animation, Ocupation: 0 5583
Genre: Animation, Ocupation: 1 3242
Genre: Animation, Ocupation: 2 2163
Genre: Animation, Ocupation: 3 1321
Genre: Animation, Ocupation: 4 7036
Genre: Animation, Ocupation: 5 974
Genre: Animation, Ocupation: 6 1565
Genre: Animation, Ocupation: 7 3451
Genre: Animation, Ocupation: 8 134
Genre: Animation, Ocupation: 9 693
Genre: Animation, Ocupation: 10 2164
Genre: Animation, Ocupation: 11 726
Genre: Animation, Ocupation: 12 2704
Genre: Animation, Ocupation: 13 328
Genre: Animation, Ocupation: 14 1741
Genre: Animation, Ocupation: 15 1025
Genre: Animation, Ocupation: 16 1613
Genre: Animation, Ocupation: 17 3264
Genre: Animation, Ocupation: 18 374
Genre: Animation, Ocupation: 19 544
Genre: Animation, Ocupation: 20 2648
Genre: Children's, Ocupation: 0 9572
Genre: Children's, Ocupation: 1 5600
Genre: Children's, Ocupation: 2 3375
Genre: Children's, Ocupation: 3 2226
Genre: Children's, Ocupation: 4 11264
Genre: Children's, Ocupation: 5 1597
Genre: Children's, Ocupation: 6 2596
Genre: Children's, Ocupation: 7 6251
Genre: Children's, Ocupation: 8 261
Genre: Children's, Ocupation: 9 1281
Genre: Children's, Ocupation: 10 3888
Genre: Children's, Ocupation: 11 1209
Genre: Children's, Ocupation: 12 3904
Genre: Children's, Ocupation: 13 636
Genre: Children's, Ocupation: 14 2881
Genre: Children's, Ocupation: 15 1580
Genre: Children's, Ocupation: 16 2715
Genre: Children's, Ocupation: 17 5261
Genre: Children's, Ocupation: 18 764
Genre: Children's, Ocupation: 19 1054
Genre: Children's, Ocupation: 20 4271
Genre: Comedy, Ocupation: 0 46500
Genre: Comedy, Ocupation: 1 29949
Genre: Comedy, Ocupation: 2 17982
Genre: Comedy, Ocupation: 3 11870
Genre: Comedy, Ocupation: 4 48672
Genre: Comedy, Ocupation: 5 7908
Genre: Comedy, Ocupation: 6 13148
Genre: Comedy, Ocupation: 7 35784
Genre: Comedy, Ocupation: 8 939
Genre: Comedy, Ocupation: 9 5065
Genre: Comedy, Ocupation: 10 9465
Genre: Comedy, Ocupation: 11 7526
Genre: Comedy, Ocupation: 12 19697
Genre: Comedy, Ocupation: 13 4340
Genre: Comedy, Ocupation: 14 17898
Genre: Comedy, Ocupation: 15 7771
Genre: Comedy, Ocupation: 16 15787
Genre: Comedy, Ocupation: 17 24554
Genre: Comedy, Ocupation: 18 4172
Genre: Comedy, Ocupation: 19 5461
Genre: Comedy, Ocupation: 20 22092
Genre: Crime, Ocupation: 0 10460
Genre: Crime, Ocupation: 1 6326
Genre: Crime, Ocupation: 2 3957
Genre: Crime, Ocupation: 3 2469
Genre: Crime, Ocupation: 4 10772
Genre: Crime, Ocupation: 5 1734
Genre: Crime, Ocupation: 6 2800
Genre: Crime, Ocupation: 7 8738
Genre: Crime, Ocupation: 8 198
Genre: Crime, Ocupation: 9 699
Genre: Crime, Ocupation: 10 1355
Genre: Crime, Ocupation: 11 1795
Genre: Crime, Ocupation: 12 4458
Genre: Crime, Ocupation: 13 985
Genre: Crime, Ocupation: 14 4382
Genre: Crime, Ocupation: 15 1779
Genre: Crime, Ocupation: 16 3620
Genre: Crime, Ocupation: 17 5877
Genre: Crime, Ocupation: 18 1029
Genre: Crime, Ocupation: 19 1197
Genre: Crime, Ocupation: 20 4911
Genre: Documentary, Ocupation: 0 1155
Genre: Documentary, Ocupation: 1 794
Genre: Documentary, Ocupation: 2 553
Genre: Documentary, Ocupation: 3 285
Genre: Documentary, Ocupation: 4 970
Genre: Documentary, Ocupation: 5 97
Genre: Documentary, Ocupation: 6 302
Genre: Documentary, Ocupation: 7 707
Genre: Documentary, Ocupation: 8 10
Genre: Documentary, Ocupation: 9 35
Genre: Documentary, Ocupation: 10 98
Genre: Documentary, Ocupation: 11 191
Genre: Documentary, Ocupation: 12 398
Genre: Documentary, Ocupation: 13 102
Genre: Documentary, Ocupation: 14 304
Genre: Documentary, Ocupation: 15 160
Genre: Documentary, Ocupation: 16 421
Genre: Documentary, Ocupation: 17 373
Genre: Documentary, Ocupation: 18 75
Genre: Documentary, Ocupation: 19 132
Genre: Documentary, Ocupation: 20 748
Genre: Drama, Ocupation: 0 45377
Genre: Drama, Ocupation: 1 34769
Genre: Drama, Ocupation: 2 19273
Genre: Drama, Ocupation: 3 11533
Genre: Drama, Ocupation: 4 43546
Genre: Drama, Ocupation: 5 6369
Genre: Drama, Ocupation: 6 14332
Genre: Drama, Ocupation: 7 38888
Genre: Drama, Ocupation: 8 835
Genre: Drama, Ocupation: 9 4152
Genre: Drama, Ocupation: 10 6000
Genre: Drama, Ocupation: 11 7832
Genre: Drama, Ocupation: 12 18574
Genre: Drama, Ocupation: 13 6084
Genre: Drama, Ocupation: 14 17426
Genre: Drama, Ocupation: 15 8345
Genre: Drama, Ocupation: 16 16489
Genre: Drama, Ocupation: 17 22848
Genre: Drama, Ocupation: 18 3691
Genre: Drama, Ocupation: 19 4941
Genre: Drama, Ocupation: 20 23225
Genre: Fantasy, Ocupation: 0 4621
Genre: Fantasy, Ocupation: 1 2763
Genre: Fantasy, Ocupation: 2 1760
Genre: Fantasy, Ocupation: 3 1043
Genre: Fantasy, Ocupation: 4 5225
Genre: Fantasy, Ocupation: 5 934
Genre: Fantasy, Ocupation: 6 1216
Genre: Fantasy, Ocupation: 7 3664
Genre: Fantasy, Ocupation: 8 152
Genre: Fantasy, Ocupation: 9 409
Genre: Fantasy, Ocupation: 10 1275
Genre: Fantasy, Ocupation: 11 610
Genre: Fantasy, Ocupation: 12 2315
Genre: Fantasy, Ocupation: 13 323
Genre: Fantasy, Ocupation: 14 1600
Genre: Fantasy, Ocupation: 15 981
Genre: Fantasy, Ocupation: 16 1398
Genre: Fantasy, Ocupation: 17 3043
Genre: Fantasy, Ocupation: 18 480
Genre: Fantasy, Ocupation: 19 589
Genre: Fantasy, Ocupation: 20 1900
Genre: Film-Noir, Ocupation: 0 2287
Genre: Film-Noir, Ocupation: 1 1852
Genre: Film-Noir, Ocupation: 2 1000
Genre: Film-Noir, Ocupation: 3 677
Genre: Film-Noir, Ocupation: 4 1770
Genre: Film-Noir, Ocupation: 5 329
Genre: Film-Noir, Ocupation: 6 705
Genre: Film-Noir, Ocupation: 7 1865
Genre: Film-Noir, Ocupation: 8 41
Genre: Film-Noir, Ocupation: 9 130
Genre: Film-Noir, Ocupation: 10 235
Genre: Film-Noir, Ocupation: 11 537
Genre: Film-Noir, Ocupation: 12 1120
Genre: Film-Noir, Ocupation: 13 416
Genre: Film-Noir, Ocupation: 14 833
Genre: Film-Noir, Ocupation: 15 462
Genre: Film-Noir, Ocupation: 16 824
Genre: Film-Noir, Ocupation: 17 1278
Genre: Film-Noir, Ocupation: 18 196
Genre: Film-Noir, Ocupation: 19 270
Genre: Film-Noir, Ocupation: 20 1434
Genre: Horror, Ocupation: 0 11669
Genre: Horror, Ocupation: 1 5079
Genre: Horror, Ocupation: 2 3676
Genre: Horror, Ocupation: 3 2210
Genre: Horror, Ocupation: 4 10383
Genre: Horror, Ocupation: 5 2390
Genre: Horror, Ocupation: 6 2576
Genre: Horror, Ocupation: 7 7479
Genre: Horror, Ocupation: 8 182
Genre: Horror, Ocupation: 9 542
Genre: Horror, Ocupation: 10 1905
Genre: Horror, Ocupation: 11 1249
Genre: Horror, Ocupation: 12 4240
Genre: Horror, Ocupation: 13 719
Genre: Horror, Ocupation: 14 3312
Genre: Horror, Ocupation: 15 1482
Genre: Horror, Ocupation: 16 3757
Genre: Horror, Ocupation: 17 5939
Genre: Horror, Ocupation: 18 1721
Genre: Horror, Ocupation: 19 1528
Genre: Horror, Ocupation: 20 4348
Genre: Musical, Ocupation: 0 5371
Genre: Musical, Ocupation: 1 3847
Genre: Musical, Ocupation: 2 2387
Genre: Musical, Ocupation: 3 1518
Genre: Musical, Ocupation: 4 5442
Genre: Musical, Ocupation: 5 888
Genre: Musical, Ocupation: 6 1646
Genre: Musical, Ocupation: 7 3881
Genre: Musical, Ocupation: 8 100
Genre: Musical, Ocupation: 9 694
Genre: Musical, Ocupation: 10 1410
Genre: Musical, Ocupation: 11 874
Genre: Musical, Ocupation: 12 2128
Genre: Musical, Ocupation: 13 592
Genre: Musical, Ocupation: 14 1738
Genre: Musical, Ocupation: 15 902
Genre: Musical, Ocupation: 16 1705
Genre: Musical, Ocupation: 17 2721
Genre: Musical, Ocupation: 18 395
Genre: Musical, Ocupation: 19 571
Genre: Musical, Ocupation: 20 2723
Genre: Mystery, Ocupation: 0 5278
Genre: Mystery, Ocupation: 1 3730
Genre: Mystery, Ocupation: 2 2026
Genre: Mystery, Ocupation: 3 1356
Genre: Mystery, Ocupation: 4 4740
Genre: Mystery, Ocupation: 5 718
Genre: Mystery, Ocupation: 6 1469
Genre: Mystery, Ocupation: 7 4270
Genre: Mystery, Ocupation: 8 82
Genre: Mystery, Ocupation: 9 391
Genre: Mystery, Ocupation: 10 732
Genre: Mystery, Ocupation: 11 920
Genre: Mystery, Ocupation: 12 2222
Genre: Mystery, Ocupation: 13 782
Genre: Mystery, Ocupation: 14 2068
Genre: Mystery, Ocupation: 15 908
Genre: Mystery, Ocupation: 16 1849
Genre: Mystery, Ocupation: 17 2967
Genre: Mystery, Ocupation: 18 480
Genre: Mystery, Ocupation: 19 602
Genre: Mystery, Ocupation: 20 2588
Genre: Romance, Ocupation: 0 18821
Genre: Romance, Ocupation: 1 14433
Genre: Romance, Ocupation: 2 7824
Genre: Romance, Ocupation: 3 5210
Genre: Romance, Ocupation: 4 18913
Genre: Romance, Ocupation: 5 2649
Genre: Romance, Ocupation: 6 5971
Genre: Romance, Ocupation: 7 15453
Genre: Romance, Ocupation: 8 373
Genre: Romance, Ocupation: 9 2681
Genre: Romance, Ocupation: 10 2990
Genre: Romance, Ocupation: 11 2989
Genre: Romance, Ocupation: 12 7938
Genre: Romance, Ocupation: 13 2183
Genre: Romance, Ocupation: 14 7591
Genre: Romance, Ocupation: 15 3241
Genre: Romance, Ocupation: 16 6617
Genre: Romance, Ocupation: 17 9369
Genre: Romance, Ocupation: 18 1335
Genre: Romance, Ocupation: 19 1993
Genre: Romance, Ocupation: 20 8949
Genre: Sci-Fi, Ocupation: 0 19590
Genre: Sci-Fi, Ocupation: 1 11795
Genre: Sci-Fi, Ocupation: 2 7110
Genre: Sci-Fi, Ocupation: 3 4022
Genre: Sci-Fi, Ocupation: 4 20352
Genre: Sci-Fi, Ocupation: 5 3789
Genre: Sci-Fi, Ocupation: 6 5146
Genre: Sci-Fi, Ocupation: 7 16316
Genre: Sci-Fi, Ocupation: 8 550
Genre: Sci-Fi, Ocupation: 9 1065
Genre: Sci-Fi, Ocupation: 10 3932
Genre: Sci-Fi, Ocupation: 11 2776
Genre: Sci-Fi, Ocupation: 12 12279
Genre: Sci-Fi, Ocupation: 13 1822
Genre: Sci-Fi, Ocupation: 14 7503
Genre: Sci-Fi, Ocupation: 15 4245
Genre: Sci-Fi, Ocupation: 16 7024
Genre: Sci-Fi, Ocupation: 17 15440
Genre: Sci-Fi, Ocupation: 18 1926
Genre: Sci-Fi, Ocupation: 19 2421
Genre: Sci-Fi, Ocupation: 20 8191
Genre: Thriller, Ocupation: 0 24797
Genre: Thriller, Ocupation: 1 14723
Genre: Thriller, Ocupation: 2 8683
Genre: Thriller, Ocupation: 3 5922
Genre: Thriller, Ocupation: 4 25302
Genre: Thriller, Ocupation: 5 4238
Genre: Thriller, Ocupation: 6 6781
Genre: Thriller, Ocupation: 7 20654
Genre: Thriller, Ocupation: 8 497
Genre: Thriller, Ocupation: 9 1710
Genre: Thriller, Ocupation: 10 4212
Genre: Thriller, Ocupation: 11 3632
Genre: Thriller, Ocupation: 12 11746
Genre: Thriller, Ocupation: 13 2278
Genre: Thriller, Ocupation: 14 10169
Genre: Thriller, Ocupation: 15 4296
Genre: Thriller, Ocupation: 16 8945
Genre: Thriller, Ocupation: 17 15419
Genre: Thriller, Ocupation: 18 2482
Genre: Thriller, Ocupation: 19 2831
Genre: Thriller, Ocupation: 20 10363
Genre: War, Ocupation: 0 8289
Genre: War, Ocupation: 1 6006
Genre: War, Ocupation: 2 3072
Genre: War, Ocupation: 3 1950
Genre: War, Ocupation: 4 8205
Genre: War, Ocupation: 5 1348
Genre: War, Ocupation: 6 2572
Genre: War, Ocupation: 7 7981
Genre: War, Ocupation: 8 164
Genre: War, Ocupation: 9 664
Genre: War, Ocupation: 10 1385
Genre: War, Ocupation: 11 1585
Genre: War, Ocupation: 12 4236
Genre: War, Ocupation: 13 1341
Genre: War, Ocupation: 14 3485
Genre: War, Ocupation: 15 1824
Genre: War, Ocupation: 16 3478
Genre: War, Ocupation: 17 5407
Genre: War, Ocupation: 18 806
Genre: War, Ocupation: 19 870
Genre: War, Ocupation: 20 3859
Genre: Western, Ocupation: 0 2632
Genre: Western, Ocupation: 1 1715
Genre: Western, Ocupation: 2 973
Genre: Western, Ocupation: 3 659
Genre: Western, Ocupation: 4 2091
Genre: Western, Ocupation: 5 546
Genre: Western, Ocupation: 6 717
Genre: Western, Ocupation: 7 2695
Genre: Western, Ocupation: 8 51
Genre: Western, Ocupation: 9 191
Genre: Western, Ocupation: 10 300
Genre: Western, Ocupation: 11 535
Genre: Western, Ocupation: 12 1068
Genre: Western, Ocupation: 13 435
Genre: Western, Ocupation: 14 1024
Genre: Western, Ocupation: 15 519
Genre: Western, Ocupation: 16 1146
Genre: Western, Ocupation: 17 1645
Genre: Western, Ocupation: 18 312
Genre: Western, Ocupation: 19 281
Genre: Western, Ocupation: 20 1148